/* stylelint-disable-next-line no-empty-source */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;

  width: 750px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.textarea {
  resize: none;

  display: block;

  height: 200px;

  font-size: 18px;
  color: #191919;


  border-radius: 10px;
}

.textarea:focus {
  outline: none;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-around;

  padding: 10px;

  background-color: #ccc;
  border: 2px solid #191919;
  border-radius: 10px;
}

.word {
  cursor: pointer;

  min-width: 40px;
  height: 40px;

  font-size: 18px;
  color: #fff;
  text-align: center;

  background-color: #545454;
  border: none;
  border-radius: 5px;
  box-shadow:
      2px 2px 5px #020d18,
      inset -2px -2px 4px -2px #020d18,
      -2px -2px 5px #ebedef,
      inset 2px 2px 4px -2px #ecf0f3;

  transition: background-color 0.3s linear;
}

.word:hover {
  background-color: #ca4747;
}

.word.active {
  opacity: 1;
  background-color: #c71919;
  border-radius: 20px;

  transition: background-color 0.3s linear;
  transition: border-radius 0.2s linear;
}

.tab {
  min-width: 80px;
  background-color: #191919;
}

.shiftleft,
.shiftright {
  min-width: 110px;
  background-color: #191919;
}

.controlright,
.controlleft,
.capslock {
  min-width: 60px;
  background-color: #191919;
}

.enter {
  min-width: 120px;
  background-color: #191919;
}

.space {
  width: 302px;
  color: transparent;
  background-color: #191919;
}

.metaleft,
.altright,
.altleft,
.delete,
.backspace,
.arrowup,
.arrowdown,
.arrowleft,
.arrowright {
  background-color: #191919;
}

.text {
  text-align: center;
}
